<!DOCTYPE html>
<html>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
<!--         <script src="js/fruits_and_veggies_test.js"></script> -->
        <script src="js/fruits_and_veggies.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="App">

        <div class="container" ng-controller="AppController">

            <h1>
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                Fruits &amp; Veggies
            </h1>
            <hr>
            <h4 ng-show="choices.length>0"><strong>{{choices.length}}</strong> fruits/veggies remaining</h4>
            <h3 ng-show="choices.length == 0 && allCorrect()" class="winner">Nailed it!</h3>
            <h3 ng-show="choices.length == 0 && !allCorrect()" class="loser">Nope.</h3>
            <hr>

            <div class="row">

                <div class="col-sm-4">
                    <h3>Fruits</h3>
                    <hr>
                    <div class="well" ng-repeat="fruit in fruits track by $index" ng-class="{'wrong': choices.length == 0 && !inFruits($index)}">
                        <span>{{fruit}}</span>
                        <button class="btn btn-default" ng-click="fruitsToChoices($index)">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h3>Choices</h3>
                    <hr>
                    <div class="well" ng-repeat="choice in choices track by $index">
                        <button class="btn btn-default" ng-click="choicesToFruits($index)">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </button>
                        <span>{{choice}}</span>
                        <button class="btn btn-default" ng-click="choicesToVegetables($index)">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h3>Veggies</h3>
                    <hr>
                    <div class="well" ng-repeat="vegetable in vegetables track by $index" ng-class="{'wrong': choices.length == 0 && !inVegetables($index)}">
                        <button class="btn btn-default" ng-click="vegetablesToChoices($index)">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </button>
                        <span>{{vegetable}}</span>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>
